#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  margin: auto;
  padding: 2rem;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-variant: small-caps;
  color: white;
}

/* This is the image of the Babylon Logo*/
/*
baby img:
• height, width = change the image size
• margin-right = pushes it slightly away from the h1 "WaterBoy ChatBot"
• transform rotate = rotates our image, for aesthetic purposes
• transition = this is the time for the transition when we hover

baby img hover:
• :hover --> this is a css element that can be attached anywhere
• transform:scale(1.3) lets us increase the image size by 1.3x
*/
.babyImg {
  height: 50px;
  width: 50px;
  margin-right: 5px;
  transform: rotate(-35deg);
  transition: 1s;
}

.babyImg:hover {
  transform: scale(1.2);
}

.assistantLogo{
  width: 40px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  margin-right: 4px; /* Adjust the margin as needed */
  border-radius: 50%;
  padding-top: 10px;
  margin-left: -4px;
  margin-top: 0px;
  margin-bottom: -10px;
}

.userLogo{
  width: 31px; /* Adjust the width as needed */
  height: 31px; /* Adjust the height as needed */
  margin-right: 9px; /* Adjust the margin as needed */
  border-radius: 50%;
  padding-top: 10px;
  margin-top: 5px;
  margin-bottom: -10px;
}

.messageHeader{
  display: inline-block;
  vertical-align: top;
  max-width: calc(100% - 50px); 
}


/* This is for the header + subtext underneath it 
chat bot header:
• margin, position, width, top --> make sure our header is located in the center of the page
• left: 50%;  transform: translateX(-50%); --> common way of centering the text of to the center of the page regardless of the position.
• cursor --> makes sure we use default cursor not the auto cursor

chat bot slogan:
• same as the header
*/
.chatBotHeader {
  text-align: center;
  margin: 8px;
  position: absolute;
  width: 100%; /* keep this to make sure wording doesn't compress*/
  top: 6%;
  left: 50%;
  transform: translateX(-50%);
  cursor: default;
}

.chatBotSlogan {
  text-align: center;
  margin: 10px auto;
  position: absolute;
  top: 17%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  cursor: default;
}

/* This is for the input box and its field
box:
• this is for input bar shape since it points to className for the  <form> element
• position absolute makes our position dependent on the positions we feed it instead of the parent elements
• bottom, width, left, transform center and locate our input box

input box
• this is for the input bar within our bar shape
• width, height give us the shape of our box
• padding offsets the text region within our box
• box-sizing lets us bring margin, padding, and stuff into a box

input type text
• this is for the text we input itself
• background white: We want background of text to be white
• font-family: helps us give a font for the input we type in.
• border-radius: gives the shape of our box, so we don't need to update it in input box or in box
• color: black for the text we type in.
*/

.box {
  position: absolute;
  bottom: 13%;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: auto;
  z-index: 1;
}

.input-container {
  display: flex;
  position: relative;
}

.inputbox {
  border: 0px;
  width: 100%;
  box-sizing: border-box;
  height: 0px;
  padding: 20px;
  overflow-y: auto;
}

input[type="text"] {
  background: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 25px 0 0 25px;
  color: black;
  overflow-y: auto;
}

/* This is for the submit button below our input box
submit button:
• border radius gives us the shape
• height gives us the height of our box, which is 50 since  our input is 40 + 10 for padding

submit button hover
• background-color and color change the background color and font color when we hover over box
• cursor -> when we hover over submit cursor turns into grab cursors

submit buttion active
• cursor -> when we press the button, cursor changes to hand that grabs
*/

.submitButton {
  background-color: #79AE93;
  color: white;
  border-radius: 0 25px 25px 0;
  height: 40px;
  z-index: 2;
  position: relative;
  bottom: 0;
}

.submitButton:hover {
  background-color: white;
  color: black;
  cursor: grab;
}

.submitButton:active {
  cursor: grabbing;
}

.submitButton.disabledButton {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

/* This is for the footer links:
babylon links:
• border prevents the zoom in from exiting the white
• color is the color of the text pre hover
• display lets us show this list as a line of flex elements
• padding helps with adding a cushion of thickness to our bar
• transition and border radius have been explained above.

babylon links hover:
 • similar to the over hovers, this simply gives us something to hover with
 • exactly like the logo next to waterboy, this zooms in with each hover

babylon active:
 • the cursor stays a pointer regardless of the click onto a different page

list of links:
 • background color and color set the colors of the background and font, respectively.
 • display flex or inline-flex is necessary since this is a flex box
 • padding for aesthetic value
 
list of links ul:
• list-style gets rid of bullet points since this is a list item
• justify-content helps us space out the flexbox elements evenly
• margin helps ignore margin
• width stretches out the flexbox width to fit the whole page
• padding inline start is necessary to center this since it adds an extra padding for no reason.
*/

.babylonLinks {
  border: 2px solid white;
  color: black;
  display: flex;
  padding: 5px;
  transition: 0.2s;
  font-size: 14px;
  border-radius: 25px;

}

.babylonLinks:hover {
  background-color: #126180;
  color: white;
  transform: scale(1.1);
  z-index: 1;
}

.babylonLinks:active {
  cursor: pointer;
}

.listOfLinks {
  background-color: white;
  color: black;
  display: flex;
  padding: 0.25rem;

  /* These help with pinning navigation bar to the bottom of the page*/
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
  height: 25px;
  position: fixed;
  padding-bottom: 16px;
  padding-top: 10px;
}

.listOfLinks ul {
  list-style: none;
  justify-content: space-evenly;
  margin: 0;
  display: flex;
  width: 100%;
  padding-inline-start: 0px;
}

.instagramImage {
  height: 25px;
  width: 25px;
  padding: 4px;
  margin-right: 5px;
  
}

.instagramImage:hover {
  transform: scale(1.1);
}

/*CSS for Message-Box and messages*/
#messageBox {
  margin: 8px;
  padding: 10px;
  position: absolute;
  width: 80%;
  height: 55%;
  top: 21%;
  cursor: default;
  overflow-y: auto;
  left: 50%;
  transform: translate(-50%);
  text-align: right;
}

/*Pins Scroll to Bottom*/
#messageBox * {
  overflow-anchor: none;
}

#anchor {
  overflow-anchor: auto;
  height: 1px;
}

/*Add Masked Overflow
https://pqina.nl/blog/fade-out-overflow-using-css-mask-image */
.masked-overflow {
  /* scroll bar width, for use in mask calculations */
  --scrollbar-width: 5px;
  /* mask fade distance, for use in mask calculations */
  --mask-height: 18px;
  /* If content exceeds height of container, overflow! */
  overflow-y: auto;
  /* Our height limit */
  height: 300px;
  /* Need to make sure container has bottom space,
  otherwise content at the bottom is always faded out */
  padding-bottom: var(--mask-height);
  /* The CSS mask */
  /* The content mask is a linear gradient from top to bottom */
  --mask-image-content: linear-gradient(to bottom,
      transparent,
      #126180 var(--mask-height),
      #126180 calc(100% - var(--mask-height)),
      transparent);
  /* Here we scale the content gradient to the width of the container 
  minus the scrollbar width. The height is the full container height */
  --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;
  /* The scrollbar mask is a blue pixel */
  --mask-image-scrollbar: linear-gradient(#126180, #126180);
  /* The width of our blue pixel is the width of the scrollbar.
  The height is the full container height */
  --mask-size-scrollbar: var(--scrollbar-width) 100%;
  /* Apply the mask image and mask size variables */
  mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
  mask-size: var(--mask-size-content), var(--mask-size-scrollbar);
  /* Position the content gradient in the top left, and the 
  scroll gradient in the top right */
  mask-position: 0 0, 100% 0;
  /* We don't repeat our mask images */
  mask-repeat: no-repeat, no-repeat;
}

.masked-overflow::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

.masked-overflow::-webkit-scrollbar-thumb {
    /* always round */
  background-color: currentColor;
  border-radius: 9999px;
}

.masked-overflow::-webkit-scrollbar-track {
  background-color: transparent;
}

.message {
  width: fit-content;
  overflow-y: auto;
  color: black;
  white-space: pre-line;
  line-height: 1.25;
  text-align: left;
  padding: 1px 30px 2px 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

#copy-button {
  border-radius: 15px;
  font-size: 10px;
  background-color: #79AE93;
  margin-bottom: 15px;
}